.main-container{
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}

.ant-input {
  font-size: 24px;
}

/* hero carousel style */
/*.slick-slide {*/
/*  display: flex;*/
/*  align-items: center;*/
/*}*/
/*.slick-slide h3 {*/
/*  transform: translateY(-100%) scaleY(0.95);*/
/*}*/
/*.slick-active h3 {*/
/*  animation: k 0.5s 0.5s forwards;*/
/*}*/
/*.slick-slide img {*/
/*  transform: translateX(200px);*/
/*}*/
/*.slick-active img {*/
/*  animation: l 0.5s 0.45s forwards;*/
/*}*/
/*@keyframes k {*/
/*  0% {*/
/*    transform: translateY(-100%) scaleY(0.95);*/
/*  }*/
/*  100% {*/
/*    transform: translateY(0px) scaleY(1);*/
/*  }*/
/*}*/
/*@keyframes l {*/
/*  0% {*/
/*    transform: translateX(200px);*/
/*  }*/
/*  100% {*/
/*    transform: translateY(0px);*/
/*  }*/
/*}*/
/*.ant-carousel:hover .slick-arrow {*/
/*  opacity: 1 !important;*/
/*}*/


/*.slick-arrow {*/
/*  opacity: 0 !important;*/
/*  width: 40px !important;*/
/*  height: 40px !important;*/
/*  font-size: 40px !important;*/
/*  color: black !important;*/
/*}*/
/*.slick-arrow::after, .slick-arrow::before {*/
/*  width: 30px !important;*/
/*  height: 30px !important;*/
/*}*/
/* header search input style */
.search_input {
  appearance: none;
  background-color: transparent;
  border: none;
  width: 100%;
  outline: none;
}
.ant-select-selector {
  border: none !important;
  outline: none !important;
  background-color: transparent !important;
  box-shadow: none !important;
}
.hover\:border-\[\#1677FF\]:hover {
  border-color: #556275 !important;
}

/* create form upload file style */
.ant-upload-select {
  width: 80px !important;
  height: 80px !important;
}
.ant-upload-list-item-container {
  width: 80px !important;
  height: 80px !important;
}
.ant-table-cell {
  padding: 10px !important;
}

/* create form steps style */
.ant-progress .ant-progress-circle-path {
  stroke: rgba(0, 0, 0, 0.85) !important;
}
.ant-steps .ant-steps-item-finish .ant-steps-item-icon {
  background-color: rgba(0, 0, 0, 0.84) !important;
}
.ant-steps .ant-steps-item-process .ant-steps-item-icon {
  background-color: #556275;
  border-color: #556275;
}
.ant-steps .ant-steps-item-wait .ant-steps-item-icon {
  background-color: #556275A0;
}
.ant-steps .ant-steps-item-icon .ant-steps-icon {
  color: rgb(255, 255, 255) !important;
}
.ant-steps .ant-steps-item-finish>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title::after {
  background-color: rgba(0, 0, 0, 0.75) !important;
}

/* modal btn */
.ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
  color: #556275;
  border-color: #556275;
}
.ant-btn-primary {
  background-color: #556275 !important;
  color: #fff !important;
  border-color: #556275 !important;
}
.ant-btn-primary:not(:disabled):not(.ant-btn-disabled):hover {
  background-color: #ffffff !important;
  color: #556275 !important;
}

/* pagination */
.ant-pagination .ant-pagination-item-active a  {
  color: #556275;
}
.ant-pagination .ant-pagination-item-active:hover {
  border-color: #556275 !important;
}
.ant-pagination .ant-pagination-item-active {
  border-color: #2c333c;
}
.ant-pagination .ant-pagination-item a:hover {
  color: #000000 !important;
}

/* dataPicker style */
.ant-picker-range .ant-picker-active-bar {
  background-color: #0a0a0b !important;
}
.ant-picker-outlined:focus ,
.ant-picker-outlined:focus-within {
  border-color: #556275 !important;
}